*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 1em;
}

.top {
    display: flex;

    /* align-items: center; */
}

h1 {
    text-align: center;
    font-size: 5rem;
}

p {
    font-size: 1.25rem;
}

#crypto {
    width: 100%;
    font-size: 1.25rem;
}

#crypto-top {
    display: flex;
    align-items: center;
    gap: 0.5em;
    /* border: red 1px solid; */
}

#crypto-bottom {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.15em;
}
.crypto-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    /* border: red 1px solid; */
}

#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#weather > img {
    width: 70px;
    /* border: 1px red solid; */
}

.city {
    width: 100%;
    text-align: right;
}

.temp {
    font-size: 2rem;
}
